html {
  --color-pure-white: hsl(0deg 0% 100%);
  --color-cream: hsl(30deg 38% 92%);
  --color-aurometal-saurus: hsl(228deg 12% 48%);
  --color-deep-aquamarine: hsl(158deg 36% 37%);
  --color-deep-aquamarine-hover: hsl(157deg 43% 18%);
  --color-gunmetal: hsl(212deg 21% 14%);
}
