%typography-display {
  font-family: 'Fraunces', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

%typography-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(23 / 14);
}

%typography-button-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
}

%typography-overline {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 5px;
}
